* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  /* float: left; */
  background-color: #ddd;
  width: 100%;
  border-bottom: 2px solid black;
  position: fixed;
  z-index: 999;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.top {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./img/Roses\ Background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.top h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.top button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.price {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.product button {
  margin: 20px auto;
  color: black;
  padding: 8px;
  border: 3px solid palevioletred;
  background-color: palevioletred;
  transition: 0.3s;
}

.product button:hover {
  margin: 20px auto;
}

.price h3 {
  margin: 20px auto;
  color: palevioletred;
}

span {
  text-decoration: line-through;
  color: gray;
}

.descr {
  clear: both;
  width: 90%;
  margin: 80px auto;
  padding: 20px;
  border: palevioletred 2px dotted;
}

.menu a {
  float: left;
  padding: 0 20px 0 0;
}

.menu {
  width: 50%;
  padding: 0 20px;
}

.logo img {
  border-radius: 50%;
  margin: 4px;
}

.cart {
  text-align: right;
  width: 50%;
  padding-right: 20px;
}

footer {
  border-top: 2px black solid;
  display: flex;
  margin: 0 auto;
  list-style: none;
  background: rgba(128, 128, 128, 0.205);
}

.links {
  flex: 2;
  list-style: none;
}

.links ul {
  list-style: none;
  padding: 20px auto;
  margin: 50px 100px;
}

.links li a {
  text-decoration: none;
}

.us {
  flex: 1;
  padding: 40px auto;
}

/* Buttons */

.btn {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 8px;
  border: 3px solid palevioletred;
  background-color: palevioletred;
  transition: 0.3s;
}

.btn:hover {
  color: palevioletred;
  background-color: transparent;
  transition: 0.3s;
}

@media screen and (max-width: 955px) {
  .product {
    flex-direction: column-reverse;
  }

  .price {
    margin: 20px auto;
  }
}
